{% extends 'base/base.html' %}

{% block page_content %}
<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Productos</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones</div>
                {% if perms.producto.add_producto %}
                <a class="dropdown-item" onclick="return abrir_modal('{% url 'producto:producto_new' %}')" href=""><i class="far fa-calendar-plus"></i> Nuevo</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        {% if not obj %}
           <div class="alert alert-info">No hay Productos</div>
        {% else %}
        <table class="table table-hover table-sm dt-responsive nowrap" style="width:100%">
            <thead>
                <th>Código</th>
                <th>Código Barra</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Existencia</th>
                <th>Unidad Medida</th>
                <th>Estado</th>
                
                <th class="all">Acciones</th>
            </thead>
            <tbody>
                {%  for item in obj %}
                <tr>
                    <td>{{ item.codigo }}</td>
                    <td>{{ item.codigo_barra }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.precio }}</td>
                    <td>{{ item.existencia }}</td>
                    <td>{{ item.u_medida }}</td>
                    <td>{{ item.estado|yesno:"Activo,Inactivo"}}</td>
               
                    <td>
                        {% if perms.producto.change_vehiculo %}
                        <button class="btn btn-warning btn-circle" onclick="return abrir_modal('{% url 'producto:producto_edit' item.id %}')" >
                            <i class="far fa-edit"></i></button>
                            {% endif %}
                            {% if perms.producto.delete_producto %}
                            <a href="{% url 'producto:producto_inactivar' item.id %}" class="btn btn-danger btn-circle" role="button"><i class="far fa-thumbs-down"></i></a>
                            {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js_page %}
<script>
    $(function () {

        //$("#sidebarToggle").click();

        $('.table').DataTable({
            "pageLength": 10,
            "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "reg. del _START_ al _END_ de un total de _TOTAL_ reg.",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "scrollX": true,
            "oPaginate": {
                "sFirst": "<span class='fa fa-angle-double-left'></span>",
                "sLast": "<span class='fa fa-angle-double-right'></span>",
                "sNext": "<span class='fa fa-angle-right'></span>",
                "sPrevious": "<span class='fa fa-angle-left'></span>"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
            }
        });
        
    });


</script>
{% endblock %}